.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#new-quote {
  height: 30px;
  width: 100px;
}

#quote-box {
  background-color: aquamarine;
  color: black;
  height: 30vh;
  width: 50vw;
  align-items: center;
  position: relative;
}

#quote {
  align-items: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

#author {
  align-items: right;
  position: relative;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}
